{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container mb-4 mt-1">
    <div class="row wow fadeIn">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
              alt="">
          </div>
          <div class="card-body">
            <h5 class="card-title">Shirt <span id="item_price">$20</span></h5>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-secondary" id="view_button" href="#">View</a>     
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
              alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body"> 
            <h5 class="card-title">Shirt <span id="item_price">$20</span></h5>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-secondary" id="view_button" href="#">View</a>    
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
              alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Shirt <span id="item_price">$20</span></h5>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-secondary" id="view_button" href="#">View</a>     
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
              alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Shirt <span id="item_price">$20</span></h5>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-secondary" id="view_button" href="#">View</a>     
          </div>
        </div>
      </div>
    </div>
    </section>
{% endblock %}